body{
    background-color: navajowhite;
}

header {
    border: black 2px solid;
}

h1 {
    color: darkred;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}


table {
    border: black 2px solid;
    border-collapse: collapse;
}


 th:first-child {
    background-color: red;
} 

/* th:nth-child(3) {
    background-color: red;
} */

td, th {
    height: 70px;
    width: 100px;
    text-align: center;
    border: black 2px solid;
}


#verde {
    background-color: green; 
}


#rojo {
    background-color: red; 
}

#amarillo {
    background-color: yellow; 
}

#naranja {
    background-color: orangered; 
}